.container{
    width:80%;
    margin: auto;
}
#friends-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.friend-item {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.friend-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}
