<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Friends</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Your Friends</h1>
        <div id="friends-list" class="friend-card-container">
            {% if friends %}
                {% for friend in friends %}
                    {% if friend.location != "offline" %}
                        <div class="friend-card">
                            <div class="thumbnail-container">
                                {% if friend.profilePicOverrideThumbnail %}
                                    <img src="{{ friend.profilePicOverrideThumbnail }}" alt="{{ friend.displayName }}'s Avatar" class="thumbnail">
                                {% else %}
                                    <img src="{{ friend.currentAvatarThumbnailImageUrl }}" alt="{{ friend.displayName }}'s Avatar" class="thumbnail">
                                {% endif %}
                            </div>
                            <div class="friend-card-content">
                                <p class="friend-name"><strong>{{ friend.displayName }}</strong></p>
                                <p class="friend-status">Status: {{ friend.status }}</p>
                                <p class="friend-location">Location: {{ friend.location }}</p>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                <p>No friends found.</p>
            {% endif %}
        </div>
    </div>
</body>
</html>
