<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VRChat Instances</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>VRChat Instances</h1>
        <div id="instances-list" class="card-container">
            {% if instances %}
                {% for instance in instances.instances %}
                <div class="instance-card">
                    <div class="thumbnail-container">
                        {% if instance.world and instance.world.thumbnailImageUrl %}
                            <img src="{{ instance.world.thumbnailImageUrl }}" alt="{{ instance.world.name }} thumbnail" class="thumbnail">
                        {% elif instance.thumbnailImageUrl %}
                            <img src="{{ instance.thumbnailImageUrl }}" alt="Instance thumbnail" class="thumbnail">
                        {% else %}
                            <div style="width: 100%; height: 100%; background-color: #f0f0f0; display: flex; align-items: center; justify-content: center;">
                              No Thumbnail
                            </div>
                        {% endif %}
                    </div>
                    <div class="card-content">
                        {% if instance.world %}
                            <h3><a href="https://vrchat.com/home/launch?worldId={{instance.world.id}}">{{ instance.world.name }} @ {{ instance.region }}</a></h3>
                        {% else %}
                            <h3>{{ instance.name }}</h3>
                        {% endif %}
                        
                        <p>
                          {% if instance.ownerId in group_id_to_name %}
                            <b>Group:</b> <a href="https://vrchat.com/home/group/{{instance.ownerId}}">{{ group_id_to_name[instance.ownerId] }}</a>
                          {% else %}
                            <b>Ownder:</b> {{ instance.ownerId }}
                          {% endif %}
                        </p>

                        {% if instance.world %}
                          <p><b>Author:</b> {{ instance.world.authorName }}</p>
                        {% endif %}
                        <p><b>Type:</b> {{ instance.groupAccessType }}</p>
                        <p><b>Users:</b> {{ instance.userCount }} / {{ instance.capacity }}</p>
                        {% if instance.world %}
                            <p><b>Description:</b> {{ instance.world.description }}</p>
                        {% else %}
                            <p>No Description</p>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <p>No instances found.</p>
            {% endif %}
        </div>
    </div>
</body>
</html>
